.unico-rek {
    overflow : hidden;
    
    a {
        height: inherit;
    }
    .rek__img {
        width : 100%;
        height : inherit;
        border-radius : 1rem;
    }
}
.rek-main__first {
    height : 13.75rem;
}
.rek-main__second {
    height : 24.375rem;
}

.rek-category__first {
    height : 11.25rem;
}

.rek-details__head {
    height : 180px;
}