.profile-panel__container {
    background : #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #6666C10D;

    .profile-panel__header {
        @include flex(column, center, center);
        padding : 60px 0;

        .profile__avatar {
            width : 130px;
            height : 130px;
            border-radius : 50%;
        }

        .profile-panel__name {
            margin-top : 18px;
            font-family : Firago-medium;
        }
    }

    .profile-panel__body {
        @include flex(column, flex-start, flex-start);

        .profile-panel__link {
            width : 100%;
            height : 77px;
            font-family : Myriad;
            padding-left : 40px;
            border-top : 1px solid #D6DBE0;
            transition : .3s ease;
            position : relative;

            @include flex(row, flex-start, center);

            &:hover {
                color : $lightBlue;
            }

        }

        .profile__active {
            color : $lightBlue;

            &::before {
                content : "";
                display : block;
                background : $lightBlue;
                width : 2px;
                height : 16px;

                position : absolute;
                left : 0;
            }
        }

        .profile__logout {
            color : $unicoRed;

            &:hover {
                color: $unicoRed;
                opacity : .7;
            }
        }
    }

    .profile-panel__body-mobile {
        padding-bottom : 30px;
        @include flex(row, space-around, center);

        .profile__select {
            padding : 16px 20px;
            border: 1px solid #D6DBE0;
            border-radius: 23px;
            outline : none;

            &::before {
                padding-right : 2rem;
            }

            .profile__option {
                display : block;
                background : #FFFFFF;
                padding : 16px 20px !important;
            }
        }

        .profile__selected {

            @include flex(column, flex-start, flex-start);

            position: relative;

            .profile__option-main {
                width : 245px;
                border: 1px solid #D6DBE0;
                border-radius: 50px;
                outline : none;
                padding : 13px 20px;
                color : #223549;
                position : relative;
                font-size : 12px;

                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight : 900;
                    content : "\f0d7";
                    display : block;
                    font-size : 1.5rem;
                    color: #D6DBE0;
                    transition : .3s ease;
                    
                    position : absolute;
                    top : 50%;
                    transform : translate(0, -50%);
                    right : 8%;
                }
            }

            .icon__rotate {

                &::after {
                    transform : rotate(-180deg);
                    top : 10%;
                }
            }

            .profile__dropdown {
                @include flex(column, flex-start, flex-start);
                width : 100%;
                border : 1px solid #D6DBE0;
                background : #FFFFFF;
                padding-bottom : .8rem;
                
                position : absolute;
                top : 45px;
                z-index : 10;

                .profile__option {
                    width : 100%;
                    font-family : Myriad;
                    font-size : 12px;
                    padding : .5rem 2rem;
                    transition : .3 ease;

                    &:hover {
                        background : $lightBlue;
                        color : #fff;
                    }
                }
            }
        }

        .profile__logout {
            width : 45px;
            height : 45px;
            border-radius : 50%;
            background : $unicoRed;

            transform : rotate(180deg);

            @include flex(row, center, center);

            i {
                font-size : 1.5rem;
                color : #fff;
            }
        }
    }
}

.profile-modal__container {
    background : #fff;
    box-shadow: 0px 3px 6px #6666C10D;
    border-radius: 15px;
}

.profile-content__container {
    @include flex(column, flex-start, flex-start);
    padding : 35px 25px 0 25px;

    .profile-content__group {
        margin-bottom : 35px;
        width : 100%;

        &:last-child {
            margin-bottom : 0;
        }

        .profile-content__title {
            font-family : Myriad;
            font-size : 24px;
            margin-bottom : 30px;
        }

        .profile-content__body {
            @include flex(row, space-between, flex-start);
            flex-wrap : wrap;
     
            .profile-input__group {
                @include flex(column, flex-start, flex-start);
                margin-bottom : 30px;

                .profile__label {
                    font-family : Firago-medium;
                }

                .profile__input {
                    width : 365px;
                    height : 55px;
                    border: 1px solid #D6DBE0;
                    border-radius: 100px;
                    padding : 0 5%;
                    color: rgba(34, 53, 73, .6);
                    outline : none;
                }

                .profile-input__select {
                    width : 365px;
                    height : 55px;
                    border: 1px solid #D6DBE0;
                    border-radius: 100px;
                    padding : 0 5%;
                    color: rgba(34, 53, 73, .6);
                    outline : none;
                    position : relative;

                    @include flex(column, center, flex-start);

                    .profile__dropdown {
                        position : absolute;
                        top : 75%;
                        left : 0;
                        z-index : 10;
                        
                        width : 100%;
                        border : 1px solid #D6DBE0;
                        background : #fff;

                        @include flex(column, flex-start, flex-start);

                        .profile__option {
                            width : 100%;
                            padding : 2% 0;
                            transition : .2s ease;
                            &:hover {
                                color : #fff;
                                background : $lightBlue;
                            }
                        }
                    }
                }

                .profile__button {
                    padding : 16px 60px;
                    background : $lightBlue;
                    border: 1px solid #116BE5;
                    border-radius: 28px;
                    font-family : Firago-medium;
                    color : #fff;
                    transition : .3s ease;

                    &:hover {
                        background : #fff;
                        color : $lightBlue;
                    }
                }
            }
            //ADDRESS
            .profile-address__article {
                width : 74%;
                border: 1px dashed #D6DBE0;
                border-radius: 10px;
                padding : 30px;
                margin : 0 auto 20px auto;

                @include flex(row, space-between, flex-start);

                .profile-address__edit {
                    font-family : Firago-bold, unicons;
                    color : #B7BBBF;

                    @include flex(row, center, center);
                    &::before {
                        content : "\e990";
                        font-size : 1.2rem;
                        margin-right : .5rem;
                    }
                }

                .profile-address__body {
                    @include flex(column, center, center);

                    .profile-address__locIcon {
                        font-family : Firago-bold, unicons;
                        width : 110px;
                        height : 110px;
                        border: 1px dashed #D6DBE0;
                        border-radius : 50%;
                        margin-bottom : 30px;

                        @include flex(row, center, center);

                        &::before {
                            font-size : 3rem;
                            color : $lightBlue;
                        }

                    }

                    .home__icon {
                        &::before {
                            content : "\e9a4";
                        }
                    }

                    .loc__icon {
                        &::before {
                            content : "\e8e2";
                        }
                    }

                    .profile-address__street {
                        font-family : Firago-bold;
                        text-align : center;
                    }
                }

                .profile-address__radio {
                    @include flex(row, flex-start, center);

                    .profile-address__label {
                        font-family : Firago-bold;
                        margin : 0;
                        margin-right : 10px;
                    }

                    .input__radio {
                        width : 1rem;
                        height : 1rem;
                    }
                }
            }

            //REFERRAL
            .profile-referral__container {
                width : 83%;
                height : 70px;
                border: 1px solid #D6DBE0;
                border-radius: 35px;

                @include flex(row, space-between, center);

                .referral__block {
                    width : 60px;

                    @include flex(row, center, center);

                    &:first-child {
                        border-right : 3px solid #D6DBE0;
                    }

                    .referral__number {
                        width : 30px;
                        height : 30px;
                        border-radius : 50%;
                        background : $lightBlue;
                        color : #fff;
                        font-family : Firago-bold;
    
                        @include flex(row, center, center);
                    }
    
                    .referral__copy {
                        &::before {
                            content : "\e951";
                            color : #D6DBE0;
                            font-size : 1.5rem;
                        }
                    }
                }

                .referral__input {
                    width : 90%;
                    height : 100%;

                    border-radius: 35px;
                    padding : 0 10px; 
                    outline : none;
                    border : none;
                    color : #223549;
                    font-family : Firago-bold;
                }
            }

            
            .profile-referral__cover {
                width : 82%;

                .referral__img {
                    width : 100%;
                    height : auto;
                }
            }
        }

        .profile-button__container {
            width : 100%;
            text-align : center;
            padding : 2% 0 3.4% 0;

            .profile__button {
                padding : 1.35% 5%;
                background : $lightBlue;
                border: 1px solid #116BE5;
                border-radius: 28px;
                font-family : Firago-medium;
                color : #fff;
                transition : .3s ease;

                &:hover {
                    background : #fff;
                    color : $lightBlue;
                }
            }
        }
    }

    .profile-history__container {
        width : 100%;

        @include flex(column, center, center);

        .profile-history__article {
            width : 82%;
            border-bottom : 1px solid #D6DBE0;
            padding-bottom : 20px;
            margin-bottom : 20px;
            overflow : hidden;

            &:last-child{
                border-bottom : none;
            }
            .profile-history__grid {
                display : grid;
                grid-gap : 8px 20px;
                grid-template : 
                    'img title title title title logistic' 62.5px
                    'img date date date date logistic' 62.5px
                    /125px 1fr 1fr 1fr 1fr 125px;
            }
            .history-title__container {
                grid-area : title;

                @include flex(row, flex-start, flex-end);

                .history__title {
                    font-family : Firago-bold;
                    font-size : 18px;
                    transition : .2s ease;

                    &:hover {
                        color : $lightBlue;
                    }
                }
            }
            .history-img__container {
                grid-area : img;
                border: 1px solid #D6DBE0;
                border-radius: 10px;
                padding : 10%;

                .history__img {
                    width :100%;
                    height : 100%;
                }
            }
            .history-date__container {
                grid-area : date;
                overflow : hidden;

                .history__date {
                    font-family : Firago-bold;
                    color: #B7BBBF;
                }
            }
            .history-logistic__container {
                grid-area : logistic;
                
                @include flex(row, flex-end, center);
                .history__logistic {
                    font-family : Firago-bold;
                    text-decoration : underline;
                    color: #116BE5;
                }
            }
        }
    }

    .profile-history__pagination {
        width : 82%;
        margin-bottom : 40px;

        @include flex(row, flex-end, center);

        .history__pagination {
            display : flex;
            flex-direction : row;

            .pagination__item {
                font-family : Firago-bold;
                font-size : 18px;
                margin-right : 10px;
                transition : .2s ease;

                &:last-child {
                    margin-right : 0;
                }

                &:hover {
                    color : $lightBlue;
                }
            }
        }

        .pagination__active {
            color : $lightBlue;
        }
    }
}

@media (max-width : 1601px) {
    .profile-address__article {
        width : 100% !important;

        .profile-address__body {

            .profile-address__street {
                font-size : 13px;
            }
        }
    }
}

@media (max-width : 1401px) {
    .profile-address__article {

        .profile-address__street, .profile-address__edit, .profile-address__label {
            font-size : 13px;
        }
    }
    
    .profile-button__container {
        .profile__button {
            font-size : 13px;
        }
    }
}

@media (max-width : 992px) {
    .profile-content__container {
        .profile-address__locIcon {
            width : 75px !important;
            height : 75px !important;
        }
    }

    .profile-history__container {

        .profile-history__article {
            width : 100% !important;

            .profile-history__grid {
                grid-gap : 16px 20px !important;

                grid-template : 
                    'title title title title' 1fr
                    'img img date date' 43px
                    'img img date date' 43px
                    'logistic logistic logistic logistic' 1fr
                    /50px 50px 1fr 1fr !important;

                    .history-title__container {

                        .history__title {
                            font-size : 15px;
                        }
                    }

                    .history-date__container {

                        .history__date {
                            font-size : 13px;
                        }
                    }
            }

        }
    }

    .profile-history__pagination {
        width : 100% !important;
    }
}


@media (max-width : 768px) {
    .profile-panel__container {
        padding : 0 .5rem;
    }

    .profile-modal__container {
        min-height : auto !important;

        .profile-content__container {
            padding-bottom : 0;
        }
    }

    .profile-content__group {

        &:last-child {
            margin-bottom : 0;  
        }

        .profile-input__group {
            width : 100%;

            .profile__input {
                width : 100% !important;
                height : 45px !important;
            }

            .profile-input__select {
                width : 100% !important;
                height : 45px !important;
            }

            .profile__button {
                width : 100%;
            }
        }
    }

    //ADRESS

    .profile-content__container {

        .profile-address__locIcon {
            width : 110px !important;
            height : 110px !important;
        }

        .profile-address__article {
            flex-direction : column !important;
            align-items : center !important;

            .profile-address__body {
                margin : 30px 0;
            }
        }

        .profile-button__container {
            margin-bottom : 15px;

            .profile__button {
                width : 100%;
                padding : 20px 0 !important;
            }
        }
    }

    //REFERRAL
    .profile-referral__container {
        height : 50px !important;

    }
    .profile-referral__cover {
        width : 100% !important;
        height : auto;

        .referral__img {
            height : 175px !important;
        }
    }
}

@media (max-width : 321px) {
    .profile__option-main {
        width : 100% !important;
    }
}