
//SLIDER SALE
.slider-thumbnail {
    position : relative;
    height : auto;
    border-radius : 1rem;

    .slick-list {
        overflow : hidden;
        height : inherit;
    }

    .slider__ads-link {
        outline : none;
        height : inherit;
    }
    .slider__img {
        width : 100%;
        height : 28.1rem;
        border-radius : 1.2rem;
    }


    .slider__arrow {
        position : absolute;
        z-index : 2;
        top : 50%;
        transform : translate(0, -50%);
        right : -1.5rem;
        
        border-radius : 50rem;
        width : 3.43rem;
        height : 3.43rem;
        background  : #fff;


        @include flex(row, center, center);

        &:first-child {
            left : -1.5rem;
        }

        .arrow {
            color : $lightBlue;
            opacity : .3;
            transition : .3s ease;
        }

        &:hover .arrow {
            opacity: 1;
        }
    }
}

.slider-thumbnail__dots {
    @include flex(row, space-between, center);
    
    position : absolute;
    bottom : 1.3rem;
    left : 50%;
    z-index : 2;
    transform : translate(-50%, 0);

    padding : 0;
    margin : 0;

    li {
        list-style : none;
        button {
            background : #fff;
            width : 1.05rem;
            height : 1.05rem;
            border : none;
            outline : none;
            border-radius : 50%;
            margin-right : .3rem;
            
            padding : 0;
            
            font-size : .1rem;
            color : transparent;

            @include flex(row, center, center);

        }
    }

    .slick-active{
        &:read-only button {
            background : $lightBlue;
            border : .2rem solid #fff;
        }
    }
}
//SLIDER SALE

@keyframes pizdec {
    from {
        color : red;
    }
    to {
        color : blue;
    }
}

/* Slider Category */
.slider-category {
    outline : none;

    .slick-list {
        overflow: visible;
    }

    .slider-category__article {
        outline : none;
    }

    .slick-slide {
        display : inline-flex !important;
        flex-direction : column;
        justify-content : center;
        align-content : center;

        height : 16rem;
        overflow : hidden;
        background : #fff;
        border-radius : .8rem;
        margin : 0 1rem;
        outline : none;

        position : relative;

        transition : .3s ease;

        &:hover {
            transform : scale(1.1);
            background : #ececec;

            // &::after {
            //     content : "→";
            //     display : inline-block;
            //     font-size : 1.5rem;
            //     color : $lightBlue;
            //     position : absolute;
            //     bottom : .3rem;

            //     animation-name : pizdec;
            //     animation-duration : .5s ease;
            // }
            
        }

        .slider-img__container {
            @include flex(row, center, center);

            margin-bottom : 1rem;
            
            .slider-category__img {
                width : 6rem;
                height : 8rem;

            }
        }
    }
}

.slider-category__attributes {
    @include flex(column, center, center);

    .slider-category__header {
        font-family : Myriad;
        font-size : .9rem;
        text-align : center;
    }
    .slider-category__count {
        font-family : Firago-medium;
        font-size : .7rem;
        color : $darkBlue;
        opacity : .6;
    }
}

.slider-category__dots {
    @include flex(row, space-between, center);
    
    position : absolute;
    top : -3.53rem;
    right : .5rem;
    z-index : 2;

    padding : 0;
    margin : 0;

    li {
        list-style : none;
        button {
            border : 1px solid $lightBlue;
            width : .8rem;
            height : .8rem;

            outline : none;
            border-radius : .2rem;
            margin-right : .3rem;
            
            padding : 0;

            font-size : .1rem;
            color : transparent;
        }
    }

    .slick-active{
        &:read-only button {
            background : $lightBlue;
        }
    }
}
/* Slider Category */

/* SLIDER PRODUCT */
.slider-product {
    outline : none;
    width : 100%;
    
    .slick-slide {
        margin-right : 1rem;
        outline : none;
    }

    .slider-product__promo {
        height : 24rem;
        overflow : hidden;

        .promo__img {
            width : 100%;
            height : 100%;
        }
    }
    
    .slider-product__article {
        outline : none;
        background : #fff;
        border-radius : .8rem;
        overflow : hidden;
        border : none;

        box-shadow : 0 .125rem .25rem rgba(0,0,0,.075);

        .img__attributes {
            height : 3rem;

            .product__action {
                width : 2.2rem;
                height : 2.2rem;
                border-radius : 50%;
                background : $lightDark;

                @include flex(row, center, center);

                &:hover {
                    i {
                        color : $lightBlue;
                    }
                }
                
            }

            .attributes__sale {
                display : inline-block;
                width : 2.2rem;
                height : 2.2rem;
                border-radius : 50%;
                background : $unicoRed;
                box-shadow: 0px 0px .5rem 0 $unicoRed;
                color : #fff;
                font-size : .6rem;
                @include flex(row, center, center);
            }

        }

        .img__container {
            width : 100%;
            height : 12rem;
            padding : 1rem;
            overflow : hidden;
            
            position : relative;
            
            &:hover {
                .slider-product__hover {
                    opacity : 1;
                }
            }

            .slider-product__sale {
                display : inline-block;
                width : 2.5rem;
                height : 2.5rem;
                border-radius : 50%;
                background : $unicoRed;
                box-shadow: 0px 0px .5rem 0 $unicoRed;
                
                color : #fff;
                font-size : .7rem;
                @include flex(row, center, center);

                position : absolute;
            }

            .slider-product__img {
                width : 100%;
                height : 100%;
            }

            .slider-product__hover {
                @include flex(row, space-between, center);

                position : absolute;
                top : 50%;
                left : 50%;
                transform : translate(-50%, -50%);

                border-radius : 1rem;
                padding : 1rem;
                background : rgba(34, 53, 73, .7);
                width : 95%;
                height : 95%;
                opacity : 0;
                transition : .3s ease;

                .product__action {
                    width : 2.7rem;
                    height : 2.7rem;
                    border-radius : 50%;
                    outline : none;
                    transition : .1s ease;

                    @include flex(row, center, center);

                    i {
                        color : #fff;
                    }

                    &:hover {
                        transform : scale(1.2);
                    }
                }

                .action__like {
                    background : $unicoRed;
                }

                .action__exchange {
                    background : #F8A714;
                }

                .action__card {
                    background : $lightBlue;
                }

            }
        }

        .slider-product__attributes {
            width : 100%;
            height : 12rem;

            outline : none;
            padding : 0 1rem 1rem 1rem;

            @include flex(column, center, flex-start);

            .slider-product__header {
                font-size : .8rem;
                line-height: 1rem;
                font-weight : bold;
                display : inline-block;
                outline : none;
                overflow : hidden;
                transition : .2s ease;
                
                
                height : 40%;

                &:hover {
                    color : $lightBlue;
                }
            }

            .slider-product__footer {
                @include flex(column, flex-start, flex-start);
                width : 100%;
                height : 2rem;

                .slider-product__price {
                    @include flex(row, flex-start, center);
                    flex-wrap : nowrap;

                    width : 100%;

                    .price {
                        font-size : 1.1rem;
                        font-weight : bold;
                        margin : 0;
                        margin-right : .5rem !important;
                    }

                    .price__old {
                        text-decoration : line-through;
                        font-weight : bold;
                    }
                }

                .slider-product__rate {
                    @include flex(row, space-between, center);
                    width : 100%;

                    .stars {
                        font-size : .7rem;

                        i {
                            color : #FF8970;
                            cursor : pointer;
                            transition : .3s ease;

                            &:last-child {
                                color : #ff88704f;
                            }

                            &:hover {
                                color : $unicoRed;
                            }
                        }
                    }

                    .rate {
                        font-family : Firago-medium;
                        font-size : .7rem;
                        overflow : hidden;
                        white-space : nowrap;
                    }
                }
            }
        }
        .slider-product__card {

            .product__cart {
                background : $lightBlue;
                color : #fff;
                font-size : .8rem;
                width : 90%;
                padding : .5rem 0;
                margin-bottom : 1rem;
                transition : .3s ease;

                @include flex(row, center, center);

                &:hover {
                    border : thin solid $lightBlue;
                    background : #fff;
                    color : $lightBlue;
                }
            }
        }
    }
}

.slider-product__loadmore {

    .loadmore__button {
        background : #fff;
        border : 1px solid $lightBlue;
        color : $lightBlue;
        font-size : .9rem;
        font-weight : bold;
        padding : .8rem 2rem;
        transition : .3s ease;

        &:hover {
            color : #fff;
            background : $lightBlue;
        }
    }
}
/* SLIDER PRODUCT */

/* SLIDER SALE */
.slider-sale__container {

    .unico-category__title {
        @include flex(column, flex-start, flex-start);

        h6 {
            font-size : .75rem;
            color : $loginText;
        }
    }

    .countdown {
        padding : .5rem 1rem;
        height : 4rem;
        border-radius : 0;

        .countdown__element {
            width : 2rem;
            height : 2rem;
            background : #fff;
            border-radius : 50%;
            font-weight : bold;
            
            position : relative;

            @include flex(row, center, center);

            &:last-child {
                color : $unicoRed;
                
            }

            &::before {
                display : block;
                position : absolute;
                font-size : .6rem;
                left : .2rem;
                bottom : -1rem;
                color : #000;
            }

        }

        .countdown__dots {
            font-weight : bold;
            font-size : 1rem;
            margin : 0 .3rem;
        }
    }
}
/* SLIDER SALE */


/* SLIDER BRAND */
.slider-brand {
    outline : none;

    .slider-brand__article {
        margin-right : 1rem !important;
        height : 4rem;
        background : #fff;
        border-radius : .8rem;
        overflow : hidden;
    
        @include flex(row, center, center);
    
        .slider-brand__img {
            width : 50%;
            height : auto;
            opacity : .3;
        }
    }
    .brand-apple { width : 15% !important}
}
/* SLIDER BRAND */