
@mixin flex($direction, $justify, $align){
    display : flex;
    flex-direction : $direction;
    justify-content : $justify;
    align-items : $align;
}

@font-face {
    font-family : Firago;
    src : url("fonts/FiraGO-Regular.ttf");
}

@font-face {
    font-family : Firago-medium;
    src : url("fonts/FiraGO-Medium.ttf");
}

@font-face {
    font-family : Myriad;
    src : url("fonts/MyriadGEOMtavruliMedium.ttf")
}

$darkBlue : #223549;
$lightBlue : #116BE5;
$lightDark : #FBFBFF;
$unicoRed : #F92162;
$loginText : #92A9CE;

* {
    box-sizing : border-box;
    font-family : Firago, sans-serif;
}

body {
    background : $lightDark;
}

a {
    text-decoration : none;
    color : #000;

    &:hover {
        color : inherit;
        text-decoration : inherit;
    }
}

.unico-text__ellipsis { 
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}

.tooltip-inner {
    font-size : .67rem;
    font-weight : 100;
}

.unico-bg__gray { 
    background : $lightDark;
}

.unico-bg__white {
    background : #fff;
}

.unico-modal__radius {
    border-radius : 1.6rem;
}

.unico-product__sale {
    color : $unicoRed;
    margin : 0 !important;
}

.unico-category__title {

    @include flex(row, flex-start, center);

    .category {
        font-family : Myriad;
        font-weight : 500;
        font-size : 1.5rem;
        transition : .3s ease;

        &:hover {
            color : $lightBlue;
        }
    }

    .subcategory {
        @include flex(row, flex-start, center);
        margin-left : 1rem;
        a {
            font-family : Myriad;
            color : $loginText;
            margin-right : 1rem !important;
            font-size : .8rem;
            transition : .3s ease;

            &:hover {
                color : $darkBlue;
            }
        }
    }
}

.countdown {
    padding : .7rem 1.5rem 1.5rem 1.5rem;
    border-radius : .7rem;
    background : #f9f9f9;

    position : relative;

    &::before {
        display : block;
        content : "";
        width : 4.5rem;
        height : .2rem;
        background : linear-gradient(to left, $unicoRed, #fff);
        border-radius : 1rem;

        position : absolute;
        top : 0;
        left : .3rem;
    }

    .countdown__elements {
        @include flex(row, space-between, center);

        .countdown__element {
            width : 2.5rem;
            height : 2.5rem;
            background : #fff;
            border-radius : 50%;
            font-weight : bold;
            
            position : relative;

            @include flex(row, center, center);

            &:last-child {
                color : $unicoRed;
                
            }

            &::before {
                display : block;
                position : absolute;
                font-size : .75rem;
                left : .53rem;
                bottom : -1.2rem;
                color : #000;
            }

        }

        .countdown__days {
            &::before {
                content : "დღე";
            }
        }
        .countdown__hours {
            &::before {
                content : "საათი";
            }
        }
        .countdown__minutes {
            &::before {
                content : "წუთი";
            }
        }
        .countdown__seconds {
            &::before {
                content : "წამი";
            }
        }

        .countdown__dots {
            font-weight : bold;
            font-size : 1.2rem;
            animation-name : Fade;
            animation-duration : 1s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            margin : 0 .3rem;
        }
    }

    @keyframes Fade {
        from {opacity : 0}
        to {opacity : 1}
    }
}