@import "_variables.scss";
@import "_header.scss";
@import "_modal.scss";
@import "_sliders.scss";
@import "_services.scss";
@import "_proposition.scss";



@media (max-width: 1200px) {
    .modal-xl {
        max-width : 90%;
    }

    .slider-product {
        .price {
            font-size : 1rem !important;
        }

        .price__old {
            font-size : .8rem !important;
        }
    }
}
@media (max-width : 992px) {
    .slider-thumbnail {
        .slider__img {
            height : 15rem;
        }
    }

    .services {
        .promocode {
            padding : 1.5rem 1rem !important;

            .promocode__title {
                font-size : 1rem;
            }
            .promocode__text {
                font-size : .65rem !important;
            }
            .promocode__input {
                &::placeholder {
                    font-size : .7rem;
                }
            }
        }
    }

    .proposition {
        grid-template : 
        'phone phone laptop bike' 8rem
        'toys headphone laptop yard' 8rem
        /2.5fr 1.5fr 1.2fr 1.5fr;

        .proposition__title {
            font-size : .8rem !important;
        }

        .proposition__link {
            font-size : .5rem !important;
            padding : .4rem .8rem !important;
        }
    }
}

@media (max-width : 768px) {
    .header {
        border-radius : 0 0 1.6rem 1.6rem;
        .header__category {
            background : transparent;

            &:hover {
                i {
                    color : $lightBlue;
                }
            }
        }
    }
    .mobile__nav {
        border-radius : 1.6rem 1.6rem 0 0;
    }

    .slider-thumbnail {
        .slider__img {
            height : 13rem;
        }
        .slider__arrow {
            display : none !important;
        }
    }

    .slider-category__dots {
        li {
            background : #fff;
            height : .8rem;
            @include flex(row, center, center);

            &:first-child {
                border-radius : 50% 0 0 50% !important;
                overflow : hidden;
            }

            &:last-child {
                border-radius : 0 50% 50% 0 !important;
                overflow : hidden;
            }
        }
        button {
            border : none !important;
            margin : 0 !important;
            border-radius : 0 !important;
            background : #fff;
        }
        .slick-active {
            button {
                border-radius : 50% !important;
            }
        }
    }

    .proposition {
        grid-template : 
        'phone phone' 8rem
        'toys headphone ' 8rem
        /2.5fr 1.5fr;

        .grid-laptop, .grid-bike, .grid-yard {
            display : none;
        }

        .proposition__headphone {
            position : absolute;
            width : 70%;
            top : -10%;
            right : 0 !important;
        }
    }

    .slider-product {
        .slider-product__attributes {
            height : 6rem !important;

            .slider-product__header {
                width : 100%;
            }
        }
    }
}

@media (max-width : 576px) {
    .services-container {
        margin : 0 0 3rem 0;
    }

    .proposition {
        grid-gap : .5rem;
        .proposition__content {
            padding : 1rem !important;
        }
    }
    .slider-product {
        .slick-slide {
            margin-right : .5rem;
        }

        .slider-product__header {
            font-size : .7rem !important;
        }
        
        .slider-product__price {
            flex-direction : column !important;
            align-items : flex-start !important;

            .price {
                font-size : 1rem !important;
            }
    
            .price__old {
                font-size : .7rem !important;
            }
        }

        .slider-product__rate {
            .stars {
                font-size : .45rem !important;
            }
            
            .rate {
                font-size : .55rem !important;
            }
        }
    }
}