@import "_variables.scss";
@import "_header.scss";
@import "_modal.scss";
@import "_sliders.scss";
@import "_services.scss";


@media (max-width: 1200px) {
    .modal-xl {
        max-width : 90%;
    }
}
@media (max-width : 992px) {
    .slider-thumbnail {
        .slider__img {
            height : 15rem;
        }
    }

    .services {
        .promocode {
            padding : 1.5rem 1rem !important;

            .promocode__title {
                font-size : 1rem;
            }
            .promocode__text {
                font-size : .65rem !important;
            }
            .promocode__input {
                &::placeholder {
                    font-size : .7rem;
                }
            }
        }
    }
}

@media (max-width : 768px) {
    .header {
        border-radius : 0 0 1.6rem 1.6rem;
        .header__category {
            background : transparent;

            &:hover {
                i {
                    color : $lightBlue;
                }
            }
        }
    }
    .mobile__nav {
        border-radius : 1.6rem 1.6rem 0 0;
    }

    .slider-thumbnail {
        .slider__img {
            height : 10rem;
        }
        .slider__arrow {
            display : none !important;
        }
    }

}

@media (max-width : 576px) {

}