.spinner-count__spins--container {
  display : flex;
  flex-direction : row;
  justify-content : flex-end;
  align-items : center;
  padding-right : 2rem;

  .spinner-count__spins--info {
    margin : 0;
  }

  .spinner-count__spins--count {
    width : 3.2rem;
    height : 3.2rem;
    border-radius : 50%;
    background-color : var(--spinnerRed);
    color : #fff;
    margin-left : 1rem;

    display : flex;
    justify-content : center;
    align-items : center;
  }
}