.car__container {
  border : 1px solid black;
  background : transparent;

  width : 20rem;
  margin-right : 2rem;

  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.cars {
  display : flex;
}

.input {
  border : 3px solid black;
}

.red {
  border-color : red;
}

.green {
  border-color : green;
}