* {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
}

a {
    text-decoration : none;
}

.container {
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-between;
}

.article {
    border : 1px dotted black;
    padding : 1rem;

    width : 20rem;
    height : 30rem;
    overflow : hidden;
}

.article__img {
    width : 100%;
    height : 12rem;
}

.article__body {
    display : flex;
    flex-direction : column;
    justify-content : space-between;

    height : 16rem;

}

.article__title {
    font-size : 1rem;
    color : #000;
}

.article__title:hover {
    color : lightslategray;
}

.article__description {
    height : 9rem;
    overflow : hidden;
    font-size : .75rem;
}

.article__footer {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

.article__footer > p {
    font-weight : bold;
    font-size : .8rem;
    color : yellow;
}