.slider__sale {
    position : relative;
    
    border-radius : 1rem;

    .slick-list {
        overflow : hidden;
    }

    .slider__ads-link {
        outline : none;
    }
    .slider__img {
        width : 100%;
        height : 20rem;

        border-radius : 1rem;
    }

    .slider__arrow {
        position : absolute;
        z-index : 2;
        top : 50%;
        transform : translate(0, -50%);
        right : -1.5rem;
        
        border-radius : 50rem;
        width : 3rem;
        height : 3rem;
        background  : #fff;


        @include flex(row, center, center);

        &:first-child {
            left : -1.5rem;
        }

        .arrow {
            color : $lightBlue;
            opacity : .3;
            transition : .3s ease;
        }

        &:hover .arrow {
            opacity: 1;
        }
    }
}

.slider__sale-dots {
    @include flex(row, space-between, center);
    
    position : absolute;
    bottom : .5rem;
    left : 50%;
    z-index : 2;
    transform : translate(-50%, 0);

    padding : 0;
    margin : 0;

    li {
        list-style : none;
        button {
            background : #fff;
            width : 1.05rem;
            height : 1.05rem;
            border : none;
            outline : none;
            border-radius : 50%;
            margin-right : .3rem;
            
            padding : 0;
            

            @include flex(row, center, center);

            &::before {
                display : none;
                content : "•";
                color : $lightBlue;
                font-size : 3.04rem;
            }
        }
    }

    .slick-active{
        &:read-only button::before {
            display : block;
        }
    }
}

/* Slider Category */

.slider__category {
    outline : none;

    .slick-slide {
        display : inline-flex !important;
        flex-direction : column;
        justify-content : center;
        align-content : center;

        width : 15rem;
        height : 16rem;
        overflow : hidden;
        background : #fff;
        border-radius : .8rem;
        margin : 0 1rem;
        outline : none;

        .slider__img-container {
            @include flex(row, center, center);

            margin-bottom : 1rem;
            .slider__category-img {
                width : 6rem;
                height : 8rem;

            }
        }
    }
}

.slider__category-attributes {
    @include flex(column, center, center);

    .slider__category-header {
        font-size : .9rem;
    }
    .slider__category-count {
        font-size : .8rem;
        color : $darkBlue;
    }
}

.slider__category-dots {
    @include flex(row, space-between, center);
    
    position : absolute;
    top : -3rem;
    right : .5rem;
    z-index : 2;

    padding : 0;
    margin : 0;

    li {
        list-style : none;
        button {
            border : 1px solid $lightBlue;
            width : .8rem;
            height : .8rem;

            outline : none;
            border-radius : .2rem;
            margin-right : .3rem;
            
            padding : 0;
            
        }
    }

    .slick-active{
        &:read-only button {
            background : $lightBlue;
        }
    }
}