@import "_variables.scss";
@import "_header.scss";
@import "_sliders.scss";
@import "_services.scss";

body { 
    background : $lightDark;
}

.proposition__link {
    background : #fff;
    font-size : .8rem;
    padding : .5rem 1rem;
}

.proposition__headtext {
    width : 15rem;
    margin-bottom : 2rem;
    color : #fff;
}

.proposition {
    border-radius : .7rem;
    height : 12rem;
}

.proposition__biggest {
    background : $unicoRed;

    padding : 2rem 3rem;
}
.proposition__bigger {
    background : #F8A714;
    padding : 1rem 2rem;

    width : 55%;

    @include flex(column, space-between, flex-start);

}

.proposition__big {
    background : #4A4A4A;
    width : 43%;
    padding : 1rem 2rem;

    @include flex(column, space-between, flex-start);

    .proposition__headtext {
        padding-right : 1rem;
    }
}

.proposition__long {
    background : #EDF0F5;
    height : 100%;
    padding : 2rem 0 1rem 0;

    @include flex(column, space-between, center);

    .proposition__headtext {
        padding : 1rem;
        color : #000;
        width : 100%;
        text-align : center;
    }
}

.proposition__small {
    background : #8E14F8;
    padding : 2rem 1rem 1rem 1rem;

    @include flex(column, space-between, flex-start);

    &:last-child {
        background : #0FB9B1;
    }

}


@media screen and (max-width : 767px){
    .proposition__long {
        @include flex(row, center, center);

        height : 12rem !important;
    }
}