@import "_variables.scss";

body { 
    background : $lightDark;
}

.header {
    background : #fff;
}

.header__info {
    padding : 1rem 0;
    border-bottom : 1px solid #EEEDF0;
}

.header__text-link {
    font-size : .7rem;
    transition : .3s ease;
}

.header__spin-link {
    color : #F92162;
    position : relative;
    font-family : Myriad;

    &::after {
        content : "";
        display : block;
        height : 1px;
        border-bottom : 1px solid #F92162;
        width : 50%;
        transition : .3s ease;

        position : absolute;
        right : 0;
        bottom : -1.285rem;
    }
    &:hover {
        color : $lightBlue;
    }
    &:hover::after {
        width : 100%;
        border-color : $lightBlue;
    }
}

.header__questions {
    .header__text-link {
        color : $darkBlue;
        opacity : .5;

        &:hover {
            opacity : 1;
        }
    }
}

.header__bar {
    padding : 1.5rem 0;
}

.header__bar-start {
    .header__bar-start-img {
        width : 5rem;
    }
}

.header__category {
    background : $lightDark;
    padding : .7rem 0;

    cursor : pointer;

    .header__category-img {
        margin-right : 1rem;
    }

    .header__category-text {
        color : $darkBlue;
        font-size : .7rem;
    }
}

.header__search {

    .header__search-prev {
        top : 50%;
        transform : translate(0, -50%);
        left : 0;

        display : inline-block;
        margin-left :.22rem;
        background : #fff;
        padding : .45rem;
        cursor : pointer;

        @include flex(row, center, center);


        .header__search-text {
            font-size :.7rem;
        }
    }
    .header__search-input {
        padding : .5rem 3rem;
        outline : none; 
        border : none;
        &,textarea {
            background :$lightDark;
        }

        &::placeholder {
            font-size : .5rem;
            padding-left : 4rem;
        }
    }

    .header__search-next {
        position : absolute;
        top : 50%;
        transform : translate(0, -50%);
        right : .2rem;

        background : #fff;
        border : none;
        width : 2.2rem;
        height : 2.2rem;
        box-shadow: 0px 0px 5px 1px rgba(102,102,193,0.1);

        font-size : .3rem;

    }

}

.header__bar-end {
    cursor : pointer;
}

.header__login {
    background : $lightBlue;
    padding : .5rem 1rem;

    .header__login-text {
        color : #fff;
    }
}

.header__circle {
    background : $lightDark;
    padding : .5rem;
    @include flex(row, center, center);

    img {
        width : 1.2rem;
        height : auto;
    }
}


.slider__sale {
    position : relative;
    
    border-radius : 1rem;

    .slick-list {
        overflow : hidden;
    }

    .slider__ads-link {
        outline : none;
    }
    .slider__img {
        width : 100%;
        height : 20rem;

        border-radius : 1rem;
    }

    .slider__arrow {
        position : absolute;
        z-index : 2;
        top : 50%;
        transform : translate(0, -50%);
        right : -1.5rem;
        
        border-radius : 50rem;
        width : 3rem;
        height : 3rem;
        background  : #fff;


        @include flex(row, center, center);

        &:first-child {
            left : -1.5rem;
        }

        .arrow {
            color : $lightBlue;
            opacity : .3;
            transition : .3s ease;
        }

        &:hover .arrow {
            opacity: 1;
        }
    }
}

.slider__sale-dots {
    @include flex(row, space-between, center);
    
    position : absolute;
    bottom : .5rem;
    left : 50%;
    z-index : 2;
    transform : translate(-50%, 0);

    padding : 0;
    margin : 0;

    li {
        list-style : none;
        button {
            background : #fff;
            width : 1.3rem;
            height : 1.3rem;
            border : none;
            outline : none;
            border-radius : 50%;
            margin-right : .3rem;
            

            @include flex(row, center, center);

            &::before {
                display : none;
                content : "•";
                color : $lightBlue;
                font-size : 3rem;

            }
        }
    }

    .slick-active{
        &:read-only button::before {
            display : block;
        }
    }
}