@font-face {
  font-family: Firago;
  src: url("fonts/FiraGO-Regular.ttf");
}

@font-face {
  font-family: Firago-medium;
  src: url("fonts/FiraGO-Medium.ttf");
}

@font-face {
  font-family: Myriad;
  src: url("fonts/MyriadGEOMtavruliMedium.ttf");
}

@media (min-width: 1200px) {
  .container-unico {
    max-width: 1220px;
    margin: 0 auto;
  }
  .container-slider {
    max-width: 1320px;
    margin: 0 auto;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Firago, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

.header {
  background: #fff;
}

.header__info {
  padding: 1rem 0;
  border-bottom: 1px solid #EEEDF0;
}

.header__text-link {
  font-size: .7rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.header__spin-link {
  color: #F92162;
  position: relative;
  font-family: Myriad;
}

.header__spin-link::after {
  content: "";
  display: block;
  height: 1px;
  border-bottom: 1px solid #F92162;
  width: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: absolute;
  right: 0;
  bottom: -1.285rem;
}

.header__spin-link:hover {
  color: #116BE5;
}

.header__spin-link:hover::after {
  width: 100%;
  border-color: #116BE5;
}

.header__questions .header__text-link {
  color: #223549;
  opacity: .5;
}

.header__questions .header__text-link:hover {
  opacity: 1;
}

.header__bar {
  padding: 1.5rem 0;
}

.header__bar-start .header__bar-start-img {
  width: 5rem;
}

.header__category {
  background: #FBFBFF;
  padding: .7rem 0;
  cursor: pointer;
}

.header__category .header__category-img {
  margin-right: 1rem;
}

.header__category .header__category-text {
  color: #223549;
  font-size: .7rem;
}

.header__search .header__search-prev {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  display: inline-block;
  margin-left: .22rem;
  background: #fff;
  padding: .45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search .header__search-prev .header__search-text {
  font-size: .7rem;
}

.header__search .header__search-input {
  padding: .5rem 3rem;
  outline: none;
  border: none;
}

.header__search .header__search-input, .header__search .header__search-input textarea {
  background: #FBFBFF;
}

.header__search .header__search-input::-webkit-input-placeholder {
  font-size: .5rem;
  padding-left: 4rem;
}

.header__search .header__search-input:-ms-input-placeholder {
  font-size: .5rem;
  padding-left: 4rem;
}

.header__search .header__search-input::-ms-input-placeholder {
  font-size: .5rem;
  padding-left: 4rem;
}

.header__search .header__search-input::placeholder {
  font-size: .5rem;
  padding-left: 4rem;
}

.header__search .header__search-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: .2rem;
  background: #fff;
  border: none;
  width: 2.2rem;
  height: 2.2rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(102, 102, 193, 0.1);
          box-shadow: 0px 0px 5px 1px rgba(102, 102, 193, 0.1);
  font-size: .3rem;
}

.header__bar-end {
  cursor: pointer;
}

.header__login {
  background: #116BE5;
  padding: .5rem 1rem;
}

.header__login .header__login-text {
  color: #fff;
}

.header__circle {
  background: #FBFBFF;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__circle img {
  width: .9rem;
  height: auto;
}

.header__shopping-cart::after {
  content: "3";
  display: block;
  background: #F92162;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: #fff;
  font-size: .75rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -.2rem;
  right: -.2rem;
}

.slider__sale {
  position: relative;
  border-radius: 1rem;
}

.slider__sale .slick-list {
  overflow: hidden;
}

.slider__sale .slider__ads-link {
  outline: none;
}

.slider__sale .slider__img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}

.slider__sale .slider__arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -1.5rem;
  border-radius: 50rem;
  width: 3rem;
  height: 3rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__sale .slider__arrow:first-child {
  left: -1.5rem;
}

.slider__sale .slider__arrow .arrow {
  color: #116BE5;
  opacity: .3;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.slider__sale .slider__arrow:hover .arrow {
  opacity: 1;
}

.slider__sale-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 0;
  margin: 0;
}

.slider__sale-dots li {
  list-style: none;
}

.slider__sale-dots li button {
  background: #fff;
  width: 1.05rem;
  height: 1.05rem;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-right: .3rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__sale-dots .slick-active:-moz-read-only button {
  background: #116BE5;
  border: .2rem solid #fff;
}

.slider__sale-dots .slick-active:read-only button {
  background: #116BE5;
  border: .2rem solid #fff;
}

/* Slider Category */
.slider__category {
  outline: none;
}

.slider__category .slick-slide {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 15rem;
  height: 16rem;
  overflow: hidden;
  background: #fff;
  border-radius: .8rem;
  margin: 0 1rem;
  outline: none;
}

.slider__category .slick-slide .slider__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.slider__category .slick-slide .slider__img-container .slider__category-img {
  width: 6rem;
  height: 8rem;
}

.slider__category-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__category-attributes .slider__category-header {
  font-size: .9rem;
}

.slider__category-attributes .slider__category-count {
  font-size: .8rem;
  color: #223549;
}

.slider__category-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -3rem;
  right: .5rem;
  z-index: 2;
  padding: 0;
  margin: 0;
}

.slider__category-dots li {
  list-style: none;
}

.slider__category-dots li button {
  border: 1px solid #116BE5;
  width: .8rem;
  height: .8rem;
  outline: none;
  border-radius: .2rem;
  margin-right: .3rem;
  padding: 0;
}

.slider__category-dots .slick-active:-moz-read-only button {
  background: #116BE5;
}

.slider__category-dots .slick-active:read-only button {
  background: #116BE5;
}

.services {
  background: #fff;
  margin: 7rem auto;
  min-height: 7rem;
}

.services h4, .services p {
  font-family: Myriad;
}

.service__regular {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__promo {
  position: absolute;
  top: -1.1rem;
  width: 90%;
  padding: 1.5rem 2.5rem;
  border-radius: .8rem;
  background: #fff;
}

.service__promo .promo__header-text {
  color: #116BE5;
  font-size: .7rem;
  font-weight: bold;
}

.promo__footer {
  position: relative;
}

.promo__footer .promo__input {
  width: 100%;
  border-radius: 1rem;
}

.promo__footer .promo__input::-webkit-input-placeholder {
  font-size: .7rem;
}

.promo__footer .promo__input:-ms-input-placeholder {
  font-size: .7rem;
}

.promo__footer .promo__input::-ms-input-placeholder {
  font-size: .7rem;
}

.promo__footer .promo__input::placeholder {
  font-size: .7rem;
}

.promo__footer .promo__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 .3rem;
}

.service__circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .5rem;
}

.service__circle img {
  width: 1rem;
  height: 1rem;
}

.service__regular-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 7.7rem;
}

.service__regular-text p {
  font-size: .75rem;
  margin: 0;
}

.service__blue {
  background: rgba(17, 107, 229, 0.1);
}

.service__red {
  background: rgba(249, 33, 98, 0.16);
}

.service__yellow {
  background: rgba(248, 166, 20, 0.16);
}

.service__purple {
  background: rgba(142, 20, 248, 0.16);
}

.service__purple img {
  width: 1.6rem;
  height: 1.6rem;
}

body {
  background: #FBFBFF;
}

.proposition__link {
  background: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
}

.proposition__headtext {
  width: 15rem;
  margin-bottom: 2rem;
  color: #fff;
}

.proposition {
  border-radius: .7rem;
  height: 12rem;
}

.proposition__biggest {
  background: #F92162;
  padding: 2rem 3rem;
}

.proposition__bigger {
  background: #F8A714;
  padding: 1rem 2rem;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proposition__big {
  background: #4A4A4A;
  width: 43%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proposition__big .proposition__headtext {
  padding-right: 1rem;
}

.proposition__long {
  background: #EDF0F5;
  height: 100%;
  padding: 2rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proposition__long .proposition__headtext {
  padding: 1rem;
  color: #000;
  width: 100%;
  text-align: center;
}

.proposition__small {
  background: #8E14F8;
  padding: 2rem 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.proposition__small:last-child {
  background: #0FB9B1;
}

@media screen and (max-width: 767px) {
  .proposition__long {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 12rem !important;
  }
}
/*# sourceMappingURL=main.css.map */