include header
div(class="burdul-container")
    h3(class="burdul__title") Clicker Count :
    button(
        class="burdul__button",
        style="padding : .5rem 3rem; background : lightblue"
    ) Click
include footer