div(class="article")
    img(class="article__img", src="img/"+item['img'], alt="img")
    div(class="article__body")
        a(href="post?id="+item["id"])
            h3(class="article__title") #{item['title']}
        p(class="article__description") #{item['description']}
        div(class="article__footer")
            p(class="article__author") #{item['author']}
            p(class="article__category") #{item['category']}