

.portfolio__skills {
    border-bottom : .6rem solid $border;

}

@keyframes fade {
    from{ opacity: 0;}
    to{ opacity: 1;}
}
@keyframes blur {
    from { filter : blur(5rem)}
    to { filter : blur(0)}
}
@keyframes grayscale {
    from { filter : grayscale(100%)}
    to { filter : grayscale(0)}
}

.header__skills {
    height : 7rem !important;
    cursor : pointer;
}

.header__pagename {
    font-size : 2rem;
    cursor : pointer;
    font-weight : bold;
    letter-spacing : .4rem;
    text-align : center;
    margin : 0;
}

.workplace {
    border-right : 10px solid $border;
    border-left : 10px solid $border;
    min-height : 50rem;
    @include flex(row, center, center);
    position : relative;
}
.workplace__wrapper {
    width : 50rem;
    min-height : 30rem;
    padding : 2rem 0;
    position : relative;
}
.workplace__wrapper-item {
    display : none; //flex
    flex-direction : column;
    justify-content : space-between;
    width : 100%;
    height : 30rem;
    overflow : hidden;
    position : relative;
    animation-name : fade;
    animation-duration: .7s;
}
.workplace__item-text {
    transform: rotate(-90deg);
    font-size : .8rem;
}
.workplace__item-img {
    width : 3rem;
    height : 3rem;
}

.enabled {
    display : flex;
}

.skill__arrow-img {
    width : 2rem;
    height : 2rem;
}

.skill__arrow {
    position : absolute;
    @include flex(row, center, center);
    width : 4rem;
    height : 4rem;
    background : $border;
    cursor : pointer;
    z-index : 10;
        &:hover {
        background : #f7f7f7;
    }
}
.skill__arrow-left {
    top : 50%;
    left : 0;
    transform: translate(0, -50%);
}
.skill__arrow-right {
    top : 50%;
    right : 0;
    transform: translate(0, -50%);
}