.portfolio__skills {
  border-bottom: 0.6rem solid #E9E9E9;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(5rem);
            filter: blur(5rem);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes blur {
  from {
    -webkit-filter: blur(5rem);
            filter: blur(5rem);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes grayscale {
  from {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

@keyframes grayscale {
  from {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.header__skills {
  height: 7rem !important;
  cursor: pointer;
}

.header__pagename {
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .4rem;
  text-align: center;
  margin: 0;
}

.workplace {
  border-right: 10px solid #E9E9E9;
  border-left: 10px solid #E9E9E9;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.workplace__wrapper {
  width: 50rem;
  min-height: 30rem;
  padding: 2rem 0;
  position: relative;
}

.workplace__wrapper-item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30rem;
  position: relative;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

.workplace__item-text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: .8rem;
}

.workplace__item-img {
  width: 3rem;
  height: 3rem;
}

.workplace__progress {
  width: 0%;
}

.enabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill__arrow-img {
  width: 2rem;
  height: 2rem;
}

.skill__arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  background: #E9E9E9;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  z-index: 10;
}

.skill__arrow:hover {
  background: #f7f7f7;
}

.skill__arrow-left {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.skill__arrow-right {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.workplace__wrapper-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workplace__wrapper-item__info .quote {
  text-align: center;
}

.workplace__wrapper-item__info p {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Firago;
}

@font-face {
  * {
    font-family: Firago;
    src: url(../assets/FiraGO-Bold.ttf) format("ttf");
  }
}

.bg-gray {
  background: #E9E9E9;
}

.bg-bootstrap {
  background-color: #563D7C !important;
}

.text-bootstrap {
  color: #563D7C;
}

.bg-woo {
  background-color: #9B5C8F !important;
}

.text-woo {
  color: #9B5C8F;
}

.cl-blue {
  color: #29b2ff;
}

.header__navigation {
  height: 10rem;
  cursor: pointer;
}

.portfolio__link, .portfolio__link:hover {
  text-decoration: none;
  color: #000;
}

.header__link {
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__link .fa-home {
  color: #686868;
  font-size: 2rem;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-transition: .2 s linear;
  transition: .2 s linear;
}

.header__link .fa-home:hover {
  color: #29b2ff;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header__link:hover {
  color: #29b2ff;
  font-size: 1.25rem;
}

.section {
  height: 60rem;
  overflow: hidden;
}

.section__box {
  min-height: 12rem;
}

.section__box .author {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  font-weight: bold;
}

.section__box .description {
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

.section__box .colab__text {
  letter-spacing: 5px;
  text-align: center;
}

.colab__box .colab__box-text {
  font-size: 1.5rem;
  letter-spacing: 5px;
  background: #F1F1F1;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.section__photo {
  width: 100%;
  height: 40rem;
  background: url(/portfolio/Front-end/img/mezzcodes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__footer {
  height: 14rem;
  background: #414141;
  position: relative;
}

.footer__wave {
  position: relative;
}

.wave {
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 1;
  top: -5rem;
}

.subscribe {
  margin-left: -1rem;
}

.copyright {
  color: #fff;
  font-size: 1.1rem;
}

.footer__right-title {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}

.wrapper {
  width: 10rem;
  height: 35rem;
  overflow: hidden;
  text-align: center;
}

.slick-arrow {
  background: transparent;
}

.wrapper__img {
  height: auto;
  width: 6rem !important;
  margin: 1rem 0;
}

.social__icon {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.social__icon:hover {
  color: #29b2ff !important;
}

@media screen and (max-width: 915px) {
  * {
    font-size: 10px;
  }
  .workplace__wrapper-item__info p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1118px) {
  * {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */