$gray : #E9E9E9;
$blue : #29B2FF;
$footer : #414141;

@mixin flex($direction, $justify, $align){
    display : flex;
    flex-direction : $direction;
    justify-content : $justify;
    align-items : $align;
}

*{
    box-sizing : border-box;
    @font-face {
        font-family: Firago;
        src : url(../assets/FiraGO-Bold.ttf) format("ttf");
    }
    font-family: Firago;
}
.portfolio {

}
.bg-gray {
    background : $gray;
}
.cl-blue { 
    color : $blue;
}
.header__navigation {
    height : 10rem;
}
.portfolio__link, .portfolio__link:hover{
    text-decoration : none;
    color : #000;
}
.header__link {
    font-weight : bold;
    letter-spacing: 4px;
    animation-delay: .5s;
    transition : .2s linear;
    .fa-home{
        color : #686868;
        font-size : 2rem;
        animation-delay: 0;
        transition : .2 s linear;
        &:hover{
            color : $blue;
            transform : scale(.5);
        }
    }
    &:hover {
        color : $blue;
        font-size : 1.25rem;
    }
}
.section {
    height : 60rem;
    overflow : hidden;
}
.section__box{
    min-height : 12rem;
    .author {
        animation-delay : 1s;
        font-weight: bold;
    }
    .description {
        text-align : center;
        letter-spacing: 5px;
        font-size : 1.2rem;
    }
    .colab__text {
        letter-spacing: 5px;
        text-align : center;
    }
}
.colab__box {

    .colab__box-text{
        font-size : 1.5rem;
        letter-spacing : 5px;
        background : #F1F1F1;
        border-radius : 10px;
        text-align : center;
        font-weight : bold;
    }
}

.section__photo {
    width : 100%;
    height : 40rem;
    background : url(/portfolio/Front-end/img/mezzcodes.png);
    background-size : contain;
    background-repeat : no-repeat;
    background-position: center;
}
.portfolio__footer{
    height : 14rem;
    background : $footer;
    position : relative;
}

.footer__wave {
    position : relative;
}
.wave{
    width : 100%;
    height : auto;
    position: absolute;
    z-index: 1;
    top : -7rem;
}

.subscribe {
    margin-left : -1rem;
}
.copyright {
    color : #fff;
    font-size : 1.1rem;
}
.footer__right-title {
    color : #fff;
}

.wrapper {
    width : 10rem;
    height : 35rem;
    overflow: hidden;
    text-align: center;
}
.slick-arrow{
    background : transparent;
}

.wrapper__img {
    height : auto;
    width : 6rem !important;
    margin : 1rem 0;
}