<div class="profile-content__container">
    <div class="profile-content__group">
        <h1 class="profile-content__title d-md-flex d-none">მისამართი</h1>
        <div class="profile-content__body">
            <div class="profile-address__article">
                <a href="javscript:void(0)" data-id="0"class="profile-address__edit order-md-0 order-3">რედაქტირება</a>
                <div class="profile-address__body order-md-1 order-1">
                    <div class="profile-address__locIcon home__icon"></div>
                    <span class="profile-address__street">ნახალოვკა, ცოტნე დადიანის 45</span>
                </div>
                <div class="profile-address__radio order-md-3 order-0">
                    <label class="profile-address__label" for="addressRadio">ძირითადი მისამართი</label>
                    <input type="radio" id="addressRadio" name="mainAddress" class="input__radio" checked>
                </div>
            </div>
        </div>
        <div class="profile-content__body">
            <div class="profile-address__article">
                <a href="javscript:void(0)" data-id="1"class="profile-address__edit order-md-0 order-3">რედაქტირება</a>
                <div class="profile-address__body order-md-1 order-1">
                    <div class="profile-address__locIcon loc__icon"></div>
                    <span class="profile-address__street">ნახალოვკა, ცოტნე დადიანის 45</span>
                </div>
                <div class="profile-address__radio order-md-3 order-0">
                    <label class="profile-address__label" for="addressRadio">ძირითადი მისამართი</label>
                    <input type="radio" id="addressRadio" name="mainAddress" class="input__radio">
                </div>
            </div>
        </div>
        <div class="profile-button__container">
            <button class="profile__button" type="submit">ახალი მისამართის დამატება</button>
        </div>
    </div>
</div>