<div class="profile-content__container">
    <div class="profile-content__group">
        <h1 class="profile-content__title d-md-flex d-none">შეკვეთების ისტორია</h1>
        <div class="profile-content__body justify-content-center">
            <div class="profile-history__container">
                <div class="profile-history__article">
                    <div class="profile-history__grid">
                        <div class="history-title__container">
                            <a href="#" class="history__title">Alcatel 3X 2019 4GB 64GB მობილური ტელეფონი (ალქატელი)</a>
                        </div>
                        <div class="history-img__container">
                            <img src="/img/alcatel.png" alt="order-history" class="history__img">
                        </div>
                        <div class="history-date__container">
                            <span class="history__date">20 ივლისი, 2020 / ნახალოვკა, ცოტნე დადიანის 42320 ივლისი, 2020 / ნახალოვკა, ცოტნე დადიანის 42320 ივლისი</span>
                        </div>
                        <div class="history-logistic__container">
                            <a href="javascript:void(0)" onclick="modalFetch(this, '_logistic')" data-id="0" class="history__logistic" data-toggle="modal" data-target="#modal">ლოჯისტიკა</a>
                        </div>
                    </div>
                </div>
                <div class="profile-history__article">
                    <div class="profile-history__grid">
                        <div class="history-title__container">
                            <a href="#" class="history__title">Alcatel 3X 2019 4GB 64GB მობილური ტელეფონი (ალქატელი)</a>
                        </div>
                        <div class="history-img__container">
                            <img src="/img/iphone.png" alt="order-history" class="history__img">
                        </div>
                        <div class="history-date__container">
                            <span class="history__date">20 ივლისი, 2020 / ნახალოვკა, ცოტნე დადიანის 423</span>
                        </div>
                        <div class="history-logistic__container">
                            <a href="javascript:void(0)" onclick="modalFetch(this, '_logistic')" data-id="1" class="history__logistic" data-toggle="modal" data-target="#modal">ლოჯისტიკა</a>
                        </div>
                    </div>
                </div>
                <div class="profile-history__article">
                    <div class="profile-history__grid">
                        <div class="history-title__container">
                            <a href="#" class="history__title">Alcatel 3X 2019 4GB 64GB მობილური ტელეფონი (ალქატელი)</a>
                        </div>
                        <div class="history-img__container">
                            <img src="/img/coffe.png" alt="order-history" class="history__img">
                        </div>
                        <div class="history-date__container">
                            <span class="history__date">20 ივლისი, 2020 / ნახალოვკა, ცოტნე დადიანის 423</span>
                        </div>
                        <div class="history-logistic__container">
                            <a href="javascript:void(0)" onclick="modalFetch(this, '_logistic')" data-id="2" class="history__logistic" data-toggle="modal" data-target="#modal">ლოჯისტიკა</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-history__pagination">
                <div class="history__pagination">
                    <a href="#" class="pagination__item pagination__active">1</a>
                    <a href="#" class="pagination__item">2</a>
                    <a href="#" class="pagination__item">3</a>
                    <a href="#" class="pagination__item">4</a>
                    <a href="#" class="pagination__item">5</a>
                    <a href="#" class="pagination__item">6</a>
                    <a href="#" class="pagination__item">7</a>
                </div>
            </div>
        </div>
    </div>
</div>