<div class="profile-content__container">
    <div class="profile-content__group">
        <h1 class="profile-content__title d-md-flex d-none">რეფერალ კოდი</h1>
        <div class="profile-content__body justify-content-center">
            <div class="profile-referral__container">
                <div class="referral__block d-md-flex d-none">
                    <span class="referral__number">3</span>
                </div>
                <input class="referral__input" type="text"name="referral-input" value="https://test.unico.ge/profile/user.12321?/refferal.html">
                <div class="referral__block">
                    <a href="javascript:void(0)" onclick="copyFunc('referral__input')" class="referral__copy unico-icons__unicons"></a>
                </div>
            </div>
            <div class="profile-referral__cover">
                <img src="/img/refferal.png" class="referral__img">
            </div>
        </div>
    </div>
</div>