<h1>Add Information</h1>

<form class="row" action="/add" method="POST">
    <div class="col s6">
        <div class="row justify-content-center">
            <div class="input-field col s12">
                <input name="name" type="text" id="name-input" class="autocomplete validate" required>
                <label for="name-input">Name</label>
            </div>
            <div class="input-field col s12">
                <input name="surname" type="text" id="surname-input" class="autocomplete validate" required>
                <label for="surname-input">Surname</label>
            </div>
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="add-submit">Submit</button>
            </div>
        </div>
    </div>
</form>