<h1>POST ID : {{content.id}}</h1>
<div class="row">
    <div class="col s6">
        <div class="row justify-content-center">
            <h6>{{content.name}}</h6>
            <h6>{{content.surname}}</h6>
            <a href="/edit/id={{content.id}}" style="color : tomato">Edit</a>
        </div>
    </div>
</div>