.app__list--item {
  cursor : pointer;
  max-width : 18rem;
  overflow : hidden;
  text-overflow : ellipsis;

}

ol {
  padding : 0;
}

.app__list {
  list-style : none;
}

.text-denger {
  color : lightsalmon !important;
  font-weight : bold;
  text-decoration : line-through;
}